:root {
    --nav-height: 5rem;
    --fixed-width: 1000px;
}


article {
    margin: 0 auto;
    margin-top: var(--nav-height);
    padding: 2rem;
    padding-bottom: 5rem;
    max-width: var(--fixed-width);
    /* text-align: center; */
}

h1 {
    font-size: 2rem;
    margin-top: 0;
}

.trailer {
    display: block;
    margin: 0 auto;
}

video {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: block;
}


img {
    display: block;
    margin: 2rem auto;
    max-height: 70vh;
    max-width: 100%;
}



/* mobile */
@media (max-width: 576px) {

    :root {
        --nav-height: 3.5rem;
    }

}